<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sport">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sport">
        <activity
            android:name=".AppPageActivity2"
            android:exported="false" />
        <activity
            android:name=".ProfilCreationActivity2"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity2"
            android:exported="false" />
        <activity
            android:name=".LogInActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <EditText
        android:layout_width="match_parent"
        android:layout_height="wrap_content'
        android:id="@+id/et_source"
        android:hint="Enter Source Location"
        android:padding="12dp"
        android:background="@android:drawable/editbox_background"/>
    <EditText
        android:layout_width="match parent"
        android:layout_height="wrap_ content"
        android:id="@+id/et destination"
        android:hint="Enter Destination Location"
        android:padding="12dp"
        android:layout_marginTop="8dp"
        android:background="@android:drawable/editbox_background"/>

    <TextView
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:id="@+id/text_view"
        android:textSize="24sp"
        android:textStyle="bold"
        android:textColor="@color/colorAccent"
        android:gravity="center"/>

</manifest>